<style type="text/css">
    .top-table{
        border-collapse: separate;
        border-spacing:0px 10px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 50px;
        font-family:Arial, sans-serif;
        font-size:14px;
    }
    .label-column{
        text-align: left;
        width: 160px;
        border: none;
        height: 25px;
    }
    .data-column{
        border: solid;
        border-width: 1px;
        width: 700px;
    }

    .section-table{
        margin-top: 10px;
        margin-left: 70px;
        margin-right: 70px;
        border-collapse: collapse;
        font-family:Arial, sans-serif;
        font-size:14px;
        page-break-inside: avoid;
    }
    .tooltips{
        text-align: right;
        font-size: 10px;
        border: none;
        border-width: 1px;
        width: 500px;
        vertical-align: bottom;
    }
    .section-title{
        text-align: left;
        font-size: 14px;
        border: none;
        border-width: 1px;
        width: 500px;
    }
    .section-content{
        text-align: left;
        font-size: 14px;
        border: solid;
        border-width: 1px;
        height: 100px;
    }
    h1{
        font-size:20px;
        text-align:center;
        font-family:Arial, sans-serif;
    }
    p{
        margin-left: 70px;
        margin-right: 70px;
        font-family:Arial, sans-serif;
        font-size:12px;
    }
    img{
        height: 100px;
        width: 80px;
        margin-left: 80px;
        position: absolute;
    }

</style>
<div style="position: center; max-width: 900px;margin: auto;">
    <img src="https://lh3.googleusercontent.com/proxy/tQr8oioVmUFChx0_3gLgsbHjgbFSFd92vxTkDTvGE5McAFoGpa11i04ufZ88CqQmFrF5Biq0ULDnO4zagIC2lJY-JAISTWQFW0AAy1BOGnFs2AV2UgImWX6wgSXKBeyXyA" alt="logo_udg">
    <h1><br>UNIVERSIDAD DE GUADALAJARA<br>INFORME DE ACTIVIDADES VIÁTICOS</h1>
    <table class="top-table">
        <tr style="padding-bottom: 5px">
            <td style="border: none" class="label-column">DEPENDENCIA: </td>
            <td class="data-column">{{informe.area_adscripcion}}</td>
        </tr>
        <tr>
            <td style="border: none" class="label-column">NOMBRE: </td>
            <td class="data-column">{{informe.nombres}}</td>
        </tr>
        <tr>
            <td style="border: none" class="label-column">CARGO: </td>
            <td class="data-column">{{informe.plaza_laboral}}</td>
        </tr>
        <tr>
            <td style="border: none" class="label-column">LUGAR DE COMISION: </td>
            <td class="data-column">{{destino.nombre}}</td>
        </tr>
    </table>

    <table class="section-table">
        <tr>
            <td  class="section-title">JUSTIFICACIÓN:</td>
            <td  class="tooltips">MOTIVO DE LA COMISION</td>
        </tr>
        <tr>
            <td colspan="2" class="section-content">{{informe.justificacion}}</td>
        </tr>
    </table>

    <table class="section-table">
        <tr>
            <td  class="section-title">ITINERARIO:</td>
            <td  class="tooltips">FECHAS Y NOMBRES DE LUGARES DE ORIGEN Y DESTINOS</td>
        </tr>
        <tr>
            <td colspan="2" class="section-content">{{#each itinerarios}}{{this.dia}} - Origen: {{this.origen}} -> Destino: {{this.destino}}<br>{{/each}}</td>
        </tr>
    </table>

    <table class="section-table">
        <tr>
            <td  class="section-title">AGENDA:</td>
            <td  class="tooltips">HORARIOS Y/O TEMAS DE LAS ACTIVIDADES REALIZADAS</td>
        </tr>
        <tr>
            <td colspan="2" class="section-content">{{#each agendas}}{{this.dia}} - Inicio: {{this.hora_inicio}} - Fin: {{this.hora_fin}} | Actividad: {{this.actividad}}<br>{{/each}}</td>
        </tr>
    </table>

    <table class="section-table">
        <tr>
            <td  class="section-title">RESULTADOS:</td>
            <td  class="tooltips">DESCRIPCIÓN DEL TRABAJO REALIZADO</td>
        </tr>
        <tr>
            <td colspan="2" class="section-content">{{informe.resultados}}</td>
        </tr>
    </table>

    <table class="section-table">
        <tr>
            <td style="width: 1000px" class="section-title">OBSERVACIONES:</td>
        </tr>
        <tr>
            <td class="section-content">{{informe.observaciones}}</td>
        </tr>
    </table>

    <table class="section-table">
        <tr>
            <td class="section-title">FIRMA DEL COMISIONADO:</td>
            <td class="section-title">FECHA DE ELABORACIÓN:</td>
        </tr>
        <tr>
            <td class="section-content"></td>
            <td class="section-content"></td>
        </tr>
    </table>

    <table class="section-table">
        <tr>
            <td class="section-title">VO. BO. DE AUTORIZACION:</td>
            <td style="width: 300px" class="tooltips">NOMBRE Y FIRMA</td>
            <td class="section-title"></td>
            <td class="tooltips">CARGO</td>
        </tr>
        <tr>
            <td colspan="2" class="section-content"></td>
            <td colspan="2" class="section-content"></td>
        </tr>
    </table>
    <p><strong>Nota: </strong>En el caso de que se otorguen viáticos a terceras personas,
        será responsabilidad de la persona que solicite los recursos, la presentación del informe de resultados de la comisión</p>

</div>